@import 'custom-buttons.css';

body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

footer {
    text-align: center;
    width: 100%;
    padding: 1em;
    margin-top: 1em;
    background-color: white;
}

footer section {
    margin: 0 auto;
    text-align: center;
}

.button-container {
    margin: 0 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.form-grid {
    margin: 0 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

:root {
    /* --loader-color: yellow; */
}
