<h1>Ember Loading Button</h1>
{{outlet}}
<footer>
  <section>
    <a href="docs">Documentation</a>
    |
    <a href="https://github.com/rajasegar/ember-loading-button">Github</a>
  </section>
</footer>
