<h2>Custom Class</h2>
<div class="button-container">
  <section>
    <h4>slide-left</h4>
    {{#loading-button style="slide-left" customClass="btn btn-primary" action=(action 'promiseAction') }}Primary{{/loading-button}}
  </section>
  <section>
    <h4>slide-right</h4>
    {{#loading-button style="slide-right" customClass="btn btn-success" action=(action 'promiseAction') }}Success{{/loading-button}}
  </section>
  <section>
    <h4>slide-up</h4>
    {{#loading-button style="slide-up" customClass="btn btn-info" action=(action 'promiseAction') }}Info{{/loading-button}}
  </section>
  <section>
    <h4>slide-down</h4>
    {{#loading-button style="slide-down"  customClass="btn btn-danger" action=(action 'promiseAction') }}Danger{{/loading-button}}
  </section>
</div>
