<div class="button-container">
  <section>
    <h4>expand-left</h4>
    {{#loading-button
       transition="expand-left"
       color="green"
       loaderStyle=loaderStyle
       isLoading=isLoading
       action=(action 'promiseAction')}}
    Submit
    {{/loading-button}}
  </section>
  <section>
    <h4>expand-right</h4>
    {{#loading-button
       transition="expand-right"
       color="green"
       loaderStyle=loaderStyle
       isLoading=isLoading
       action=(action 'promiseAction')}}
      Submit
    {{/loading-button}}
  </section>
  <section>
    <h4>expand-up</h4>
    {{#loading-button
       transition="expand-up"
       color="green"
       loaderStyle=loaderStyle
       isLoading=isLoading
       action=(action 'promiseAction')}}
      Submit
    {{/loading-button}}
  </section>
  <section>
    <h4>expand-down</h4>
    {{#loading-button
       transition="expand-down"
       color="green"
       loaderStyle=loaderStyle
       isLoading=isLoading
       action=(action 'promiseAction')}}
      Submit
    {{/loading-button}}
  </section>
  <section>
    <h4>contract</h4>
    {{#loading-button
       transition="contract"
       color="green"
       loaderStyle=loaderStyle
       isLoading=isLoading
       action=(action 'promiseAction')}}
      Submit
    {{/loading-button}}
  </section>
  <section>
    <h4>zoom-in</h4>
    {{#loading-button
       transition="zoom-in"
       color="green"
       loaderStyle=loaderStyle
       isLoading=isLoading
       action=(action 'promiseAction')}}
      Submit
    {{/loading-button}}
  </section>
  <section>
    <h4>zoom-out</h4>
    {{#loading-button
       transition="zoom-out"
       color="green"
       loaderStyle=loaderStyle
       isLoading=isLoading
       action=(action 'promiseAction')}}
      Submit
    {{/loading-button}}
  </section>
  <section></section>
  <section>
    <h4>slide-left</h4>
    {{#loading-button
       transition="slide-left"
       color="green"
       loaderStyle=loaderStyle
       isLoading=isLoading
       action=(action 'promiseAction')}}
      Submit
    {{/loading-button}}
  </section>
  <section>
    <h4>slide-right</h4>
    {{#loading-button
       transition="slide-right"
       color="green"
       loaderStyle=loaderStyle
       isLoading=isLoading
       action=(action 'promiseAction')}}
      Submit
    {{/loading-button}}
  </section>
  <section>
    <h4>slide-up</h4>
    {{#loading-button
       transition="slide-up"
       color="green"
       loaderStyle=loaderStyle
       isLoading=isLoading
       action=(action 'promiseAction')}}
      Submit
    {{/loading-button}}
  </section>
  <section>
    <h4>slide-down</h4>
    {{#loading-button
       transition="slide-down"
       color="green"
       loaderStyle=loaderStyle
       isLoading=isLoading
       action=(action 'promiseAction')}}
      Submit
    {{/loading-button}}
  </section>
  <section>
    <h4>Size : Normal</h4>
    {{#loading-button
       transition="zoom-in"
       color="green"
       loaderStyle=loaderStyle
       isLoading=isLoading
       action=(action 'promiseAction')}}
      Submit
    {{/loading-button}}
  </section>
  <section>
    <h4>Size : Extra Small</h4>
    {{#loading-button
       transition="zoom-in"
       color="green"
       loaderStyle=loaderStyle
       isLoading=isLoading
       size="xs"
       action=(action 'promiseAction')
    }}
    Submit
    {{/loading-button}}
  </section>
  <section>
    <h4>Size : Small</h4>
    {{#loading-button
       transition="zoom-out"
       color="green"
       loaderStyle=loaderStyle
       isLoading=isLoading
       size="s"
       action=(action 'promiseAction')}}
      Submit
    {{/loading-button}}
  </section>
  <section>
    <h4>Size : Large</h4>
    {{#loading-button
       transition="zoom-in"
       color="green"
       loaderStyle=loaderStyle
       isLoading=isLoading
       size="l"
       action=(action 'promiseAction')}}
      Submit
    {{/loading-button}}
  </section>
  <section>
    <h4>Size : Extra Large</h4>
    {{#loading-button
       transition="zoom-in"
       color="green"
       loaderStyle=loaderStyle
       isLoading=isLoading
       size="xl"
       action=(action 'promiseAction')}}
      Submit
    {{/loading-button}}
  </section>
</div>
